<h2>we are oiled fury</h2>
<p>we live the essential oil lifestyle without compromise or apology, cognizant that the important things in this life are worth fighting for</p>


<h2>we furiously pursue a life of wellness and abundance</h2>
<p>...beginning with taking care of our bodies</p>
<ul>
  <li>eating wholesome local foods</li>
  <li>enjoying the outdoors</li>
  <li>using the best essential oils on the planet every day</li>
</ul>

<p>if you are ready to make the leap, <a href="mailto:oiledfury@icloud.com">connect with us</a> — we ❤︎ meeting new people!</p>

<a target="_blank" href="https://www.youngliving.com/en_US">
<span><img class="yl" src='{{ site.baseurl }}/images/yl-light.png'/></span>
<span><img class="yl" src='{{ site.baseurl }}/images/seed-to-seal.png'/></span>
</a>
